{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" crossorigin="anonymous">
{% endblock %}

{% block body %}

{% block nav %}
{% include "base/nav.html" %}
{% endblock %}

  <!--Grid row-->
  <div class="row">
    {% if not cart or cart.num_items == 0 %}
    <div class="col mt-5 text-center">
      <h1>Your bag is empty</h1>
      <i class="fas fa-4x fa-shopping-bag text-dark"></i>
      <p class="mt-4">Take a look around our shop!</p>
    </div>
    {% else %}
    <h2 class="my-3 text-center w-100">Bag: {{cart.num_items}} items</h2>
    <div class="col-lg-8">

      <!-- Cart Item -->
      {% for line in cart.cartitem_set.all %}
      {% ifchanged %}
      <h3 class="mt-3"><span class="text-muted h5">Sold By</span> <b>{{line.product.vendor.display_name}}</b></h3>
      <hr class="">
      {% endifchanged %}
      <div class="row">
        <div class="col-3">
          <a href="{{line.product.slug}}/p/{% if line.product.parent %}{{line.product.parent.id}}{% else %}{{line.product.id}}{% endif %}">
          <img class="img-fluid img-thumbnail cart-img" src="{{line.product.image_src}}" alt="{{line.product.title}}" style="width:100px">
          </a>
        </div>
        <div class="col-5">
          <p class="font-weight-bold">{{line.product}}</p>
          <p>Size: <b><u>{{line.product.size}}</u></b></p>
          <p>Price: £{{line.product.stockrecords.first.price_inc_tax}}</p>
          <p>SubTotal: <b><u>£{{line.sub_total}}</u></b></p>
        </div>
        <div class="col-4 text-center">
          <p class="font-weight-bold">Quantity</p>
          <p class="font-weight-bold">{{line.quantity}}</p>
<!--           <form>
            <div class="form-group">
                <select class="form-control text-center" id="update" disabled>
                  {% for item in request.session.cart.products %}
                  {% if item.id|add:"0" == product.id %}
                  <option class="text-center">{{item.quantity}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
          </form> -->

          <form action="/remove_from_cart" method="get" onsubmit="return confirm('Are you sure you want to remove {{line.product.title}} from your cart?');">
            <input type="hidden" name="product_id" value="{{line.product.id}}">
            <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
          </form>
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>

  <div class="col-lg-4">

    <div class="bg-light">
    <h5 class="my-3 pt-3 pl-3">Total: <b>£{{cart.total}}</b></h5>
    <hr>
    <p class="pl-3">Shipping: <b>TBC</b></p>
    <hr>

    <div class="text-center">
    <button type="button" class="btn btn-success w-95"><i class="fas fa-lock mr-2"></i><b>Checkout</b></button>
    </div>

    <div class="text-center py-3 text-dark">
      <i class="fab fa-cc-visa fa-2x mr-2"></i>
      <i class="fab fa-cc-mastercard fa-2x mr-2"></i>
      <i class="fab fa-stripe fa-2x"></i>
    </div>

  </div>
</div>

{% endif %}



</div>


{% endblock %}