{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/login.css' %}" crossorigin="anonymous">
{% endblock %}

{% block body %}

<h1 class="display-3 font-weight-normal text-center font-weight-bold fade-in mt-5">A</h1>

<form class="form-signin" action="/login" method="post">
	{% csrf_token %}
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="username" name="inputUsername" class="form-control mb-2" placeholder="Username" {% if username %} value={{username}} {% endif %} required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
	<div class="checkbox mb-3 text-center">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div>
	<button class="btn btn-lg btn-dark btn-block" type="submit" name="form_name" value="login">Sign in</button>

<!-- Alert -->
{% if messages %}
{% for message in messages %}
	<div class="alert {{message.extra_tags}} alert-dismissible fade show mt-2 text-center" role="alert">
		{{message}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endfor %}
{% endif %}
</form>
<p class="text-center mt-4 text-dark">New to <span class="text-sp3 underline">Aveste</span>?<a href=""> Create an account</a></p>


<p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>


{% endblock %}
