{% extends "account/base.html" %}
{% load static %}



{% block form %}
<form class="form-signin" action="/login" method="post" target="_self">
	{% csrf_token %}
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="username" name="inputUsername" class="form-control mb-2" placeholder="Username" {% if username %} value={{username}} {% endif %} required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" name="inputPassword" class="form-control mb-4" placeholder="Password" required>
	<!-- <div class="checkbox mb-3 text-center">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div> -->
	<button class="btn btn-lg btn-dark btn-block" type="submit" name="form_name" value="login">Sign in</button>
	
</form>
<p class="text-center mt-4 text-dark">New to <span class="text-sp3 underline">AVESTE</span>?<a href="/create-account"> Create an account</a></p>

{% endblock %}
