<footer class="footer bg-vestem mt-auto p-2">
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8 text-center">
				<small class="p-2 ml-auto fade-in"><b class="text-sp3">AVESTE</b> LIMITED {% now 'Y' %}</small>
			</div>
			<div class="col-2 text-right">
				<a class="text-dark" href="#">
				  	<i class="fab fa-lg fa-instagram"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<a class="text-dark" href="/about"><small class="text-dark">About</small></a>
				<span> | </span>
				<a class="text-dark" href="/privacy"><small class="text-dark">Privacy</small></a>
				<span> | </span>
				<a class="text-dark" href="/refunds"><small class="text-dark">Refunds</small></a>
				<span> | </span>
				<a class="text-dark" href="/delivery"><small class="text-dark">Delivery</small></a>
			</div>
		</div>
	</div>
</footer>

