/*html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}*/

:root {
  --vestem-color: #efebe6;
}

body {
    min-height: 70rem;
    padding-top: 3.5rem;
    height: 100%
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-secondary:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
}

.btn-secondary:hover:after, .btn-1b:active:after {
    height: 100%;
}

/*.fa:hover, .fas:hover {
    color: #23272b;

}*/

body {
    font-family: 'mont-light', Fallback, sans-serif;
    /*letter-spacing: 1px;*/
}

.breadcrumb {
    background-color: transparent;
}

.bg-home {
  background: url("https://blog.closetmaid.com/hubfs/FeaturedImage.jpg");
  filter: grayscale(100%);
  background-size: cover;
  min-height: 700px;
}

.grayscale {
  filter: grayscale(100%);
}

a:hover {
  text-decoration: underline!important;
}

.w-33 {
  width: 33%;
}

.w-95 {
  width: 95%;
}

.op-9 {
  opacity: 0.95;
}

.dropdown-menu {
  border: 0px!important;
}

.help {
  cursor: help;
}


.bg-vestem {
  background-color: var(--vestem-color);
}

.text-vestem {
  color: var(--vestem-color);
}

.btn-vestem {
    color: #fff;
    background-color: var(--vestem-color);
    border-color: var(--vestem-color);
}

.btn-vestem:hover {
    color: #fff;
    background-color: #efebe1;
    border-color: #efebe1;
}

@font-face {
    font-family: mont-heavy;
    src: url("../fonts/Mont-ExtraLightDEMO.otf") format("opentype");
}

@font-face {
    font-family: mont-light;
    src: url("../fonts/Mont-ExtraLightDEMO.otf") format("opentype");
}

.text-sp3 {
  letter-spacing: 3px;
}

.cart-items {
    font-size: 10px;
    background: red;
    color: #fff;
    padding: 5px;
    vertical-align: top;
    margin-left: -10px;
    margin-bottom: -10px;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-weight: bold;
    opacity: 85%;
}

