/*html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}*/

body {
    min-height: 75rem;
    padding-top: 3.5rem;
    height: 100%
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-secondary:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
}

.btn-secondary:hover:after, .btn-1b:active:after {
    height: 100%;
}

.fa:hover, .fas:hover {
    color: #23272b;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.breadcrumb {
    background-color: transparent;
}

.bg-home {
  background: url("https://blog.closetmaid.com/hubfs/FeaturedImage.jpg");
  filter: grayscale(100%);
  background-size: cover;
  min-height: 700px;
}

.grayscale {
  filter: grayscale(100%);
}

a:hover {
  text-decoration: underline!important;
}

.w-33 {
  width: 33%;
}