.swatch label {
  min-width: 40px;
 /*   height: 34px;
    margin: 0;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;*/
    cursor: pointer;
    padding: 10px 10px;
}

.swatch input[type="radio"]:checked+label {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-weight: bold;
    box-shadow: 0 0 0 0.1rem rgba(82,88,93,.5);
}

input:disabled+label {
  background-color: #ccc;
  cursor: not-allowed;
}

#add_to_favourites_button {
    transition: all .5s ease-in-out;
}

#add_to_favourites_button:hover {
    transform: scale(1.3);
}
