{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'product/css/category.css' %}" crossorigin="anonymous">
{% endblock %}

{% block body %}
<h1 class="text-bold display-5 text-center fade-in mt-3">{{category.name|title}}</h1>
<p class="text-center fade-in"><small class="text-muted">{{category.description}}</small></p>
<hr>

<!-- Find your perfect fit -->
<div class="mb-3" id="accordion">
  <div class="card">
    <div class="text-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-outline-primary w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Find your perfect fit
          <i class="fas fa-ruler text-vestem"></i>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Simply give us the following measurements of your FAVOURITE t-shirt in your wardrobe and we'll find the closest match.
      </div>
    </div>
  </div>
</div>


<!-- Facets -->
<div class="row bg-vestem shadow-sm">
  <form class="w-100" method="get" action="/{{category.name}}/c/{{category.id}}?{{request.GET.urlencode}}">
    {% csrf_token %}
  <div class="row">
  {% for key, value in facet_list.items %}
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 my-2">
    <div class="dropdown">
      <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{key|title}}
        <span><i class="fas fa-angle-down float-right"></i></span>
      </button>
      <div class="dropdown-menu bg-light w-100 shadow-sm" aria-labelledby="dropdownMenuButton">
        <!-- <h6 class="dropdown-header">X Selected</h6> -->
        <!-- {{value}} -->
        {% for x in value %}
        <label for="{{key}}|{{x.name}}" class="w-95 ">
        <div class="dropdown-item bg-white mb-2 p-2 ml-2 shadow-sm {% if request.GET|get_item:key == x.name and x.name != None  %} border border-primary rounded{% endif %}" href="#">
        
        {{x.name|title}} 
        <small class="font-weight-bold">({{x.count}})</small>
        <input class="d-none" type="checkbox" id="{{key}}|{{x.name}}" name="{{key}}" value="{{x.name}}" onChange="this.form.submit()"
          {% if request.GET|get_item:key == x.name and x.name != None  %} checked {% endif %}>
        </div>
      </label>
        
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</form>
</div>


<form method="get" action="">
  </form>

<!-- Product Cards -->

<div class="row mt-4">
  {% for product in products %}

  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
  <div class="card shadow mb-2">
    <a href="/p/{{product.slug}}">
      <div class="img-zoom">
        <img class="card-img-top img-responsive img-zoom" src="{{product.image_src}}" alt="Card image cap">
      </div>
    </a>
      <div class="p-2">
        <a class="text-dark font-weight-bold" href="/p/{{product.slug}}"><small class="p-1 text-center">{{product.title|title}}</small></a>
        <hr>
        <!-- <button class="btn btn-light">View Product</button> -->
<!--         <div class="row">
          <div class="col-12 text-center">
            <small class="p-1 font-weight-bold text-dark">£59</small>
          </div>
        </div> -->

        <!-- Sizes and stock levels -->

<!--         <div class="row">
          {% for variant in product.children.all %}
          <div class="col text-center">
            <small class="p-1 font-weight-bold text-dark">{{variant.size}}</small>
          </div>
          {% endfor %}
        </div> -->
      </div>
      <div class="bg-light card-text text-center p-1">
        <small class="text-muted">{{product.vendor.name|title}}</small>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}

{% block bodynoncon %}


{% endblock %}


