{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'product/css/category.css' %}" crossorigin="anonymous">
{% endblock %}

{% block body %}
<h1 class="text-bold display-5 text-center fade-in mt-3">{{category.name|title}}</h1>
<p class="text-center fade-in"><small class="text-muted">{{category.description}}</small></p>
<hr>

<!-- Facets -->
<div class="row bg-vestem rounded shadow-sm">
  <form class="w-100" method="get" action="/{{category.name}}/c/{{category.id}}?{{request.GET.urlencode}}">
    {% csrf_token %}
  <div class="row">
  {% for key, value in facet_list.items %}
    <div class="col-lg-3 col-md-4 col-sm-6 my-2 m-1 d-inline-block">
    <div class="dropdown">
      <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{key|title}}
        <span><i class="fas fa-angle-down float-right"></i></span>
      </button>
      <div class="dropdown-menu bg-vestem w-100" aria-labelledby="dropdownMenuButton">
        <!-- <h6 class="dropdown-header">X Selected</h6> -->
        <!-- {{value}} -->
        {% for x in value %}
        <div class="dropdown-item bg-white mb-2 p-2 ml-2 shadow w-95" href="#">
        
          {{x.name|title}} 
          <small>({{x.count}})</small>
        <span><input type="checkbox" name="{{key}}" value="{{x.name}}" onChange="this.form.submit()"
          {% if request.GET|get_item:key == x.name and x.name != None  %} checked {% endif %}></span>
        </div>
        
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</form>
</div>


<form method="get" action="">
  </form>

<!-- Product Cards -->

<div class="row mt-4">
  {% for product in products %}

  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
  <div class="card shadow mb-2">
    <a href="/p/{{product.slug}}">
      <div class="img-zoom">
        <img class="card-img-top img-responsive img-zoom" src="{{product.image_src}}" alt="Card image cap">
      </div>
    </a>
      <div class="p-2">
        <a class="text-dark font-weight-bold" href="/p/{{product.slug}}"><small class="p-1 text-center">{{product.title|title}}</small></a>
        <hr>
        <!-- <button class="btn btn-light">View Product</button> -->
<!--         <div class="row">
          <div class="col-12 text-center">
            <small class="p-1 font-weight-bold text-dark">£59</small>
          </div>
        </div> -->
        <div class="row">
          {% for variant in product.children.all %}
          <div class="col text-center">
            <small class="p-1 font-weight-bold text-dark">{{variant.size}}</small>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="bg-light card-text text-center p-1">
        <small class="text-muted">{{product.vendor.name|title}}</small>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}

{% block bodynoncon %}


{% endblock %}


