  <div class="card shadow mb-2">
    <a href="/{{product.slug}}/p/{{product.id}}">
      <div class="img-zoom">
        <img class="card-img-top img-responsive img-zoom" src="{{product.image_src}}" alt="Card image cap">
      </div>
    </a>
      <div class="p-2">
        <a class="text-dark font-weight-bold " href="/{{product.slug}}/p/{{product.id}}"><small class="p-1 text-center">{{product.title|title}}</small></a>
      </div>
      <div class="price text-center px-2 font-weight-bold text-muted">
        £{{product.price}}
      </div>
      <div class="bg-light card-text text-center p-1">
        <small class="text-muted"><b>{{product.vendor.display_name}}</b></small>
      </div>
  </div>