{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'product/css/category.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href='{% static "base/css/flickity.css" %}'>
<link rel="stylesheet" href="{% static 'product/css/product.css' %}" crossorigin="anonymous">
{% endblock %}

{% block body %}


<!-- Breadcrumb -->
<nav aria-label="breadcrumb ">
   <ol class="breadcrumb border-bottom">
      <li class="breadcrumb-item"><a class="text-dark" href="/"><u>Home</u></a></li>
      <li class="breadcrumb-item"><a class="text-dark" href="/{{product.category}}/c/{{product.category.id}}"><u>{{product.category|title}}</u></a></li>
      <li class="breadcrumb-item active" aria-current="page">{{product.title|title}}</li>
   </ol>
</nav>

{{product.total_in_stock}}
<div class="row m-1">
  <!-- Image -->
   <div class="col-lg-7 col-md-8 col-sm-12 text-center mt-2">
      <img src="{{product.image_src}}" class="img-fluid img-zoom" alt="Responsive image" style="max-height:500px;">
   </div>

   <div class="col-lg-5 col-md-4 col-sm-12 p-0 mt-2">
      <h3 class="font-weight-bold">{{product|title}}</h3>
      <div class="row">
         <div class="col-9">
            <small class="">Sold By {{product.vendor.display_name}}</small>
         </div>
         <div class="col-3 text-right">

            <!-- Favourites -->
            {% if user.is_authenticated %}
            <form class="form" action="/ajax/add_to_favourites" method="post" id="add_to_favourites">
               {% csrf_token %}
               <input type="hidden" name="vendor" value="{{product.vendor}}">
               {% if product.vendor in user.profile.favourites.all %}
               <button type="submit" class="btn btn-warning btn-sm" id="add_to_favourites_button" title="Remove {{product.vendor.display_name}} from your favourite brands"><i class="fas fa-star"></i></button>
               {% else %}
               <button type="submit" class="btn btn-warning btn-sm op-50" id="add_to_favourites_button" title="Add {{product.vendor.display_name}} to your favourite brands!"><i class="fas fa-star"></i></button>

               {% endif %}
            </form>
            {% else %}
            <button type="submit" class="btn btn-warning btn-sm op-50" data-toggle="tooltip" data-placement="bottom" title="Create an account to add {{product.vendor.display_name}} to your favourite brands!" checked><i class="fas fa-star"></i></button>
            {% endif %}


         </div>
      </div>

      <hr>
      <h4 class="mb-3"><b>£{{product.price}}</b></h4>
     


      <!-- Form  -->
      <form class="mt-3" method="post" action="/ajax/add_to_bag" id="add_to_cart">
         {% csrf_token %}
         <div class="col p-0">
         <p class="font-weight-bold">Size</p>

         <div class="mb-4">
            {% for size in sizes %}
            <div class="d-inline mr-1 swatch">
               <!-- <span>{{size.product.stockrecords.first.num_in_stock}}</span> -->
               <input class="form-check-input d-none" type="radio" name="product_id" id="{{size.value_option}}" value="{{size.product.id}}"
               {% if size.product.stockrecords.first.num_in_stock == 0 or size.product.stockrecords.first.num_in_stock == None  %} {% else %} {% ifchanged %} checked {% endifchanged %} {% endif %}
               {% if size.product.stockrecords.first.num_in_stock == 0 or size.product.stockrecords.first.num_in_stock == None %} disabled {% endif %}
               required>
               <label class="form-check-label border text-center p-2" for="{{size.value_option}}">
               {{size.value_option}}
               </label>
            </div>
            {% endfor %}
         </div>
       </div>

         <div class="col-lg-6 col-sm-12 p-0">
<!--          <p class="font-weight-bold">Quantity</p>
            <input type="number" class="form-control text-center w-100" min=1 name="quantity" value=1> -->

         <div class="mb-4">
            {% if product.total_in_stock != 0 %}
            <button type="submit" class="btn btn-dark w-100 mt-3" id="add_to_cart_button"><i class="fas fa-shopping-bag mr-2"></i><b>Add to bag</b></button>
            {% else %}
            <button type="submit" class="btn btn-dark w-100 mt-3" id="add_to_cart_button" disabled><b>Out of stock</b></button>
            {% endif %}
         </div>
          </div>
      </form>

      <!-- Stock Alert -->

      <div class="alert alert-danger d-none" id="max_quantity" role="alert">
        Sorry! We can't reserve any additional items for {{product.title|title}}.
      </div>


      <!-- Description -->
      <p><small>{{product.description}}</small></p>

      <!-- Details -->
      <div id="accordion">
         <div class="card">
            <div class="bg-vestem" id="headingOne">
               <h5 class="mb-0">
                  <button class="btn w-100 btn-link text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="float-left">Size Guide</span>
                  <span class="float-right mt-1 mr-2">+</span>
                  </button>
                  
               </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <table>
                     <thead>
                        {% for item in product.size_guide.sizeguideitem_set.all %}
                        <th>{{item.size}}</th>
                        {% endfor %}
                     </thead>
                  </table>
               </div>
            </div>
         </div>
      </div>

      


   </div>
</div>

<!-- Related Items -->
<div class="row mt-5">
   <div class="col-12">
      <h3 class="text-center w-100">Related Items</h3>
      <hr>
   </div>
</div>

<div class="main-carousel mt-3 mb-5" data-flickity='{ "freeScroll": false, "wrapAround": true, "cellAlign": "left" }'>
  {% for item in related_items %}
        <div class="carousel-cell">
          {% include 'product/product_card.html' with product=item %}
        </div>
      {% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="text/javascript" src='{% static "cart/js/add_to_cart.js" %}'></script>
<script type="text/javascript" src='{% static "account/js/add_to_favourites.js" %}'></script>
<script type="text/javascript" src='{% static "product/js/product.js" %}'></script>

{% endblock %}