<footer class="footer bg-light mt-auto p-2">
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8 text-center">
				<small class="p-2 ml-auto fade-in">VESTEM LIMITED 2020</small>
			</div>
			<div class="col-2 text-right">
				<a class="">
				  	<i class="fab fa-lg fa-instagram"> </i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<a href="/privacy"><small class="text-muted text-dark">Privacy</small></a>
			</div>
		</div>
	</div>
</footer>

