{% extends "dashboard/dashboard.html" %}

{% block dashboard %}

<div class="row mt-3 justify-content-center">
	<div class="col-12 col-lg-8">

		<h1 class="text-center">{% if size_guide %}Editing: {{size_guide.name}} {% else %} Create New Size Guide {% endif %}</h1>

		<!-- Messages -->
		{% if messages %}
		{% for message in messages %}

		<div class="mt-3 alert {{message.extra_tags}} alert-dismissible fade show text-center" role="alert">
		  {{message}}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

		{% endfor %}
		{% endif %}

		<hr>


			<!-- Form Practice -->

			<form class="w-100" action="/dashboard/sizes/create?id={{size_guide.id}}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="aaa">Size Guide Name</label>
					{% if size_guide %}
					<input name="name" type="text" class="form-control" value="{{size_guide.name}}" required>
					{% else %}
					<input name="name" type="text" class="form-control" required>
					{% endif %}
				</div>

				<!-- Categories -->
				<div class="form-group">
				   <label for="exampleFormControlSelect1">Category</label>
				   <select name="category" class="form-control" id="exampleFormControlSelect1">

				   	{% for category in categories %}
				   	{% if category.name == size_guide.category.name %}
				     <option class="bg-secondary text-white" selected="selected">{{category.name|title}}</option>
				     {% else %}
				     <option>{{category.name|title}}</option>
				     {% endif %}
				   	{% endfor %}
				   </select>
				 </div>


				<div class="text-center m-3">
					<figure class="figure">
					<img class="img-fluid rounded grayscale" src="{{ MEDIA_URL }}images/size_guides/t shirts.png" alt="First slide" style="">
					<figcaption class="figure-caption">All sizes must be in centimeters</figcaption>
				</figure>
				</div>
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th class="w-25">Size</th>
							<th>Height</th>
							<th>Bust</th>
							<th>Sleeve Length</th>
							<th>Sleeve Width</th>
							<th>GSM
								<a tabindex=0 class="popover-dismiss text-dark help" data-toggle="popover" title="" data-trigger="focus" data-content="GSM is a metric measurement meaning grams per square metre- it is how much 1 square metre of fabric weighs and the higher the GSM number the denser the fabric will be. This is to show customers how thick they can expect a garment to be." >
								<i class="fas fa-info-circle fa-xs ml-2 popover-dismiss" ></i>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for size in sizes %}
						<tr>
							<td>
								<div class="form-group">
							   		<input class="form-control" type="text" value={{size.value}} disabled>
							   	</div>
							</td>
							<td><input name="{{size.value}}|height" type="number" class="form-control" min=0></td>
							<td><input name="{{size.value}}|bust" type="number" class="form-control" min=0></td>
							<td><input name="{{size.value}}|sleeve_length" type="number" class="form-control" min=0></td>
							<td><input name="{{size.value}}|sleeve_width" type="number" class="form-control" min=0></td>
							<td><input name="{{size.value}}|gsm" type="number" class="form-control" min=0></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="form-group text-center m-4">										
					<button type="submit" class="btn btn-primary font-weight-bold" name="form_name" value="update_size_guide">
					{% if size_guide %} Update Size Guide {% else %} Create Size Guide {% endif %}</button>
				</div>
			</form>
			<div class="alert alert-warning mt-4 text-center" role="alert">
			  Note- You do not need to fill in every size if you don't stock that size. They are simply placeholders.
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block js %}
<!-- Enable popovers -->
<script>
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>
{% endblock %}