{% extends "base.html" %}
{% load static %}
{% block bodynoncon %}

<div class="row bg-dark">
  <div class="col-2">
  </div>
  <div class="col-8">
      <h2 class="text-center text-white pt-1 fade-in"><b><i>Vestem</b></i>  Admin</h2>
    </div>
  <div class="col-2 text-center justify-content-center">
    <a class="text-white" href="/logout"></i></a>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block d-sm-none bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">
              <i class="fas fa-home mr-2"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-pound-sign mr-3"></i>
               Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/products">
              <i class="fas fa-tshirt mr-2"></i>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/sizes">
              <i class="fas fa-ruler"></i>
              Size Guides
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/settings">
              <i class="fas fa-cog mr-2"></i>
              Settings
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
              <h1 class="h3 pb-2 mt-3 border-bottom"><b>Welcome {{user.get_username|title}}</b>, <small><i>{{user.profile.vendor.name|title}}</i></small></h1>
    {% block dashboard %}

    {% endblock %}
  </main>
</div>
</div>


{% endblock %}