{% extends "base.html" %}
{% load static %}
{% block bodynoncon %}


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block d-sm-none bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/dashboard/products">
              <i class="fas fa-tshirt mr-2"></i>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/dashboard/sizes">
              <i class="fas fa-ruler"></i>
              Size Guides
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/dashboard/settings">
              <i class="fas fa-cog mr-2"></i>
              Settings
            </a>
          </li>
        </ul>

        <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
        </ul> -->
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
<!--               <h1 class="h3 pb-2 mt-3 border-bottom"><b>Welcome {{user.get_username|title}}</b>, <small><i>{{user.profile.vendor.name|title}}</i></small></h1> -->
    {% block dashboard %}

    {% endblock %}
  </main>
</div>
</div>

<div class="fixed-bottom bg-vestem d-sm-block d-md-none p-2">
  <div class="row">
    <div class="col-4 text-center">
      <a class="text-dark" href="/dashboard/products">
        <i class="fas fa-tshirt mr-2"></i>
      </a>
    </div> 
    <div class="col-4 text-center">
      <a class="text-dark" href="/dashboard/sizes">
        <i class="fas fa-ruler"></i>
      </a>
    </div>
    <div class="col-4 text-center">
      <a class="text-dark" href="/dashboard/settings">
        <i class="fas fa-cog mr-2"></i>
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<!-- <script src="{% static 'dashboard/js/dashboard.js' %}" ></script> -->

{% endblock %}