{% extends "dashboard/dashboard.html" %}

{% block dashboard %}

<div class="row mt-3">
	<div class="col-12">

	<table class="table table-hover table-responsive-lg">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Image</th>
	      <th scope="col">Type</th>
	      <th class="w-33" scope="col">Title</th>
	      <th scope="col">Size</th>
	      <th scope="col">Vestem Category</th>
	      <th score="col">Stock</th>
	      <th score="col">Price</th>
	      <th score="col">Size Guide</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for product in products %}
	  	{% if product.product_type == "child" %}
	    <tr class="bg-white">
	    {% else %}
	     <tr class="bg-light">
	    {% endif %}
	      <td><img class="card-img-top img-thumbnail img-fluid" src="{{product.image_src}}" alt="Card image cap" style="width: 75px; height: 75px" onerror="this.src='{{ MEDIA_URL }}images/size_guides/no-image.png'"></td>
	      <td>{{product.product_type|title}}</td>
	      <td><a href="{{product.onlineStorePreviewUrl}}" target="_blank">{{product.title|title}}<i class="fas fa-external-link-alt ml-2 fa-xs"></i></a><br>
	      	<small class="text-muted">Last Synced: {{product.date_modified}}</small></td>

	      <!-- Sizes -->
<!-- 	      {% if product.attribute_values.all.count == 0  %}
	      <td></td>
	      {% else %}
	      {% for attribute in product.attribute_values.all %}
	      {% if attribute.attribute.name == "size" %}
	      <td class="font-weight-bold">{{attribute.value_text|default_if_none:""}}</td>
	      {% endif %}
	      {% endfor %}
	      {% endif %} -->

	      <!-- Sizes -->
	      <td>{{product.size|default_if_none:""}}</td>


	      <!-- Category -->
	      <td>{{product.category|default_if_none:""}}{{product.parent.category|default_if_none:""}}</td>
	      

	      <!-- Stock -->
	      {% with product.stockrecords.all|first as stock %}
	      {% if stock.num_in_stock == 0 or not stock.num_in_stock %}
	      <td class="text-danger">{{stock.num_in_stock}}</td>
	      <td></td>
	      {% else %}
	      <td class="text-success">{{stock.num_in_stock}}</td>
	      <td class="text-primary font-weight-bold">£{{stock.price_inc_tax}}</td>
	      {% endif %}
	      {% endwith %}

	      <!-- Size Guides -->
	      {% if product.product_type == "standalone" or product.product_type == "parent" %}
	      <td>
	      	<form>
	      	  <div class="form-group">
	      	    <select class="form-control" id="exampleFormControlSelect1">
	      	      <option>---</option>
	      	      <option>Slim Fit T Shirts</option>
	      	      <option>3</option>
	      	      <option>4</option>
	      	      <option>5</option>
	      	    </select>
	      	  </div>
	      	</form>
	      </td>
	      {% else %}
	      <td></td>
	      {% endif %}
	   
	   {% endfor %}
	  </tbody>
	</table>

	</div>
</div>

<div class="row m-3">
	<div class="col text-center">
		<small>Note: No product descriptions, inventories, prices or images can be edited here. They must be edited on shopify.</small>
	</div>
</div>	

{% endblock %}